<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="delphipicks-dev"
        connectionString="Server=tcp:ghl6ov6v76.database.windows.net,1433;Database=DelphiPicks-dev;User ID=delphidev@ghl6ov6v76;Password=66%fNg@*dlpfFDF)nj#3dfg;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" />
	</connectionStrings>
</configuration>